.vs/
.vscode/
build/
enc_temp_folder/
CMakeSettings.json
*.DS_Store
.DS_Store

# 
# ASSETS WHITELIST
#
# * Whitelist assets we want to keep

assets/textures/*
!assets/textures/.gitkeep
!assets/textures/brickwall-nrm.jpg
!assets/textures/brickwall.jpg
!assets/textures/_default.jpg

assets/shaders/*
!assets/shaders/.gitkeep
!assets/shaders/base.glsl
!assets/shaders/_default.glsl

assets/materials/*
!assets/materials/.gitkeep
!assets/materials/_default.yml

assets/models/*
!assets/models/.gitkeep
!assets/models/_default.yml
!assets/models/Icosphere.yml
!assets/models/Suzanne.yml

assets/scenes/*
!assets/scenes/.gitkeep
!assets/scenes/_default.yml


tool/*
!tool/discover.py
tool/default.blend
!tool/export.py
!tool/test-discover.cpp

config.yml