.vs/
.vscode/
build/
enc_temp_folder/
CMakeSettings.json
*.DS_Store

# big assets
*teapot-top.yml
*teapot-base.yml



# blender folder
blender/*
!blender/default.blend
!blender/export.py

# Ignore all assets/ by default
#   Whitelist assets we want to keep

assets/textures/*
!assets/textures/.gitkeep
!assets/textures/brickwall-nrm.jpg
!assets/textures/brickwall.jpg
!assets/textures/checkers.jpg

assets/shaders/*
!assets/shaders/.gitkeep
!assets/shaders/base.glsl
!assets/shaders/default.glsl

assets/materials/*
!assets/materials/.gitkeep
!assets/materials/default.yml

assets/models/*
!assets/models/.gitkeep
!assets/models/cube.yml
!assets/models/Icosphere.yml
!assets/models/Suzanne.yml

assets/scenes/*
!assets/scenes/.gitkeep



