.vs/
.vscode/
build/
enc_temp_folder/
CMakeSettings.json
*.DS_Store
.DS_Store

#
# ASSETS WHITELIST
#
# * Whitelist assets we want to keep

tool/*
!tool/discover.py
!tool/export.py
!tool/test-discover.cpp

# config.yml
